<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.bjftviewprotect.system.mapper.AreaUserCountMapper">

    <sql id="allColumn">
        auc.id,
        auc.name,
        auc.num,
        auc.rate
    </sql>
    <select id="selectAreaUserCount" resultType="com.sg.bjftviewprotect.system.entity.AreaUserCount">
        select
        <include refid="allColumn"/>
        from t_area_user_count auc
    </select>
</mapper>
