<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.bjftviewprotect.system.mapper.MenuModulesMapper">

    <sql id="">
        id,
        name,
        code,
        is_enable,
        menu_id,
        remark,
        url,
        is_delete,
        create_time,
        sort_no
    </sql>

    <select id="selectByMenuId" resultType="com.sg.bjftviewprotect.system.entity.MenuModules">
        select *
        from t_menu_modules modules
        where menu_id = #{menuId}
        order by sort_no
    </select>

</mapper>
