<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.bjftviewprotect.system.mapper.MenuMapper">

    <resultMap id="menuWithMenuModules" type="com.sg.bjftviewprotect.system.entity.Menu">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="isEnable" column="is_enable"/>
        <result property="isDelete" column="is_delete"/>
        <result property="type" column="type"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="url" column="url"/>
        <result property="sortNo" column="sort_no"/>
        <result property="threeViewUrl" column="three_view_url"/>
        <collection property="menuModules" ofType="com.sg.bjftviewprotect.system.entity.MenuModules" javaType="java.util.List">
            <id property="id" column="modulesId"/>
            <result property="name" column="modulesName"/>
            <result property="code" column="modulesCode"/>
            <result property="isEnable" column="modulesISEnable"/>
            <result property="menuId" column="modulesMenuId"/>
            <result property="remark" column="modulesRemark"/>
            <result property="url" column="modulesUrl"/>
            <result property="isDelete" column="modulesIsDelete"/>
            <result property="createTime" column="modulesCreateTime"/>
            <result property="sortNo" column="modulesSortNo"/>
            <result property="threeViewUrl" column="modulesThreeViewUrl"/>
            <result property="componentType" column="modulesComponentType"/>
        </collection>
    </resultMap>

    <sql id="menuAllColumn">
            menu.id,
            menu.name,
            menu.code,
            menu.is_enable,
            menu.is_delete,
            menu.type,
            menu.remark,
            menu.create_time,
            menu.url,
            menu.sort_no,
            menu.three_view_url
    </sql>
    <sql id="modulesAllColumn">
        modules.id as modulesId,
        modules.name as modulesName,
        modules.code as modulesCode,
        modules.is_enable as modulesISEnable,
        modules.menu_id as modulesMenuId,
        modules.remark as modulesRemark,
        modules.url as modulesUrl,
        modules.is_delete as modulesIsDelete,
        modules.create_time as modulesCreateTime,
        modules.sort_no as modulesSortNo,
        modules.three_view_url as modulesThreeViewUrl,
        modules.component_type as modulesComponentType
    </sql>

    <select id="selectMenu" resultType="com.sg.bjftviewprotect.system.entity.Menu">
        select
        DISTINCT
            <include refid="menuAllColumn"/>
            from t_menu menu
            <if test="roleChildIds != null and !roleChildIds.isEmpty()">
                inner join t_role_menu rm on menu.id = rm.menu_id
            </if>
        <where>
            menu.is_delete = 0
            <if test="menuRequest.id != null and menuRequest.id != '' and menuRequest.id.length > 0">
                and role.id = #{menuRequest.id}
            </if>
            <if test="menuRequest.name != null and menuRequest.name != '' and menuRequest.name.length > 0">
                and role.name like concat('%',#{menuRequest.name},'%')
            </if>
            <if test="menuRequest.code != null and menuRequest.code != '' and menuRequest.code.length > 0">
                and role.code like concat('%',#{menuRequest.code},'%')
            </if>
            <if test="roleChildIds != null and !roleChildIds.isEmpty()">
                and rm.role_id in
                <foreach collection="roleChildIds" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>

        order by menu.sort_no

    </select>
    <select id="selectAllByType" resultMap="menuWithMenuModules">
        select <include refid="menuAllColumn"/>
            ,
            <include refid="modulesAllColumn"/>
            from t_menu menu
        left join t_menu_modules modules on menu.id = modules.menu_id
        <where>
            <if test="type != null and type == 1">
                menu.type = #{type}
                and menu.is_enable = 1
            </if>
        </where>
        order by menu.type,menu.sort_no,modules.sort_no
    </select>
</mapper>
