<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.bjftviewprotect.system.mapper.MenuModulesMapper">


    <select id="selectByMenuId" resultType="com.sg.bjftviewprotect.system.entity.MenuModules">
        select *
        from t_menu_modules
        where menu_id = #{menuId}
    </select>

</mapper>
