<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.bjftviewprotect.system.mapper.RoleMapper">

    <resultMap id="roleWithMenuResultMap" type="com.sg.bjftviewprotect.system.entity.Role">
        <collection property="menus" javaType="java.util.List" column="id" fetchType="eager"
                    select="com.sg.bjftviewprotect.system.mapper.RoleMenuMapper.selectRoleMenu">
        </collection>
    </resultMap>

    <sql id="roleAllColumn">
            role.id,
            role.name,
            role.code,
            role.is_enable,
            role.is_delete,
            role.remark
    </sql>


    <select id="selectRole" resultType="com.sg.bjftviewprotect.system.entity.Role">
        select <include refid="roleAllColumn"/>
        FROM t_role role
        <where>
            role.is_delete = 0
            <if test="roleRequest.id != null and roleRequest.id != '' and roleRequest.id.length > 0">
                and role.id = #{roleRequest.id}
            </if>
            <if test="roleRequest.name != null and roleRequest.name != '' and roleRequest.name.length > 0">
                and role.name like concat('%',#{roleRequest.name},'%')
            </if>
            <if test="roleRequest.code != null and roleRequest.code != '' and roleRequest.code.length > 0">
                and role.code like concat('%',#{roleRequest.code},'%')
            </if>
            <if test="roleChildIds != null and !roleChildIds.isEmpty()">
                and role.id in
                <foreach collection="roleChildIds" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>

        </where>
        order by role.id
    </select>
</mapper>
