<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.bjftviewprotect.system.mapper.RoleMapper">
    <!-- 这种会分页问题   -->
    <resultMap id="roleWithMenuResultMap" type="com.sg.bjftviewprotect.system.entity.Role">
        <id property="id" column="id" />
<!--        <result property="name" column="name"/>-->
<!--        <result property="code" column="code"/>-->
<!--        <result property="isEnable" column="is_enable"/>-->
<!--        <result property="isDelete" column="is_delete"/>-->
<!--        <result property="remark" column="remark"/>-->
<!--        <result property="permissionLevel" column="permission_level"/>-->
<!--        <result property="parentId" column="parent_id"/>-->
<!--        <result property="createTime" column="create_time"/>-->
        <collection property="menus" javaType="java.util.List" ofType="com.sg.bjftviewprotect.system.entity.Menu" fetchType="eager"
        column="id" select="com.sg.bjftviewprotect.system.mapper.RoleMenuMapper.selectRoleMenu">
<!--            <id property="id" column="menuId"/>-->
<!--            <result property="name" column="menuName"/>-->
<!--            <result property="code" column="menuCode"/>-->
<!--            <result property="isEnable" column="menuIsEnable"/>-->
<!--            <result property="isDelete" column="menuIsDelete"/>-->
<!--            <result property="type" column="menuType"/>-->
<!--            <result property="remark" column="menuRemark"/>-->
<!--            <result property="createTime" column="menuCreateTime"/>-->
<!--            <result property="url" column="menuUrl"/>-->
<!--            <result property="sortNo" column="menuSortNo"/>-->
        </collection>
    </resultMap>

    <sql id="roleAllColumn">
            role.id,
            role.name,
            role.code,
            role.is_enable,
            role.is_delete,
            role.remark,
            role.permission_level,
            role.parent_id,
            role.create_time
    </sql>


    <select id="selectRole" resultMap="roleWithMenuResultMap">
        select <include refid="roleAllColumn"/>
        FROM t_role role
        <where>
            role.is_delete = 0
            <if test="roleRequest.id != null and roleRequest.id != '' and roleRequest.id.length > 0">
                and role.id = #{roleRequest.id}
            </if>
            <if test="roleRequest.name != null and roleRequest.name != '' and roleRequest.name.length > 0">
                and role.name like concat('%',#{roleRequest.name},'%')
            </if>
            <if test="roleRequest.code != null and roleRequest.code != '' and roleRequest.code.length > 0">
                and role.code like concat('%',#{roleRequest.code},'%')
            </if>
            <if test="roleChildIds != null and !roleChildIds.isEmpty()">
                and role.id in
                <foreach collection="roleChildIds" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>

        </where>
        order by role.id
    </select>
</mapper>
