<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.bjftviewprotect.system.mapper.UserMapper">

    <resultMap id="userWithRolesResultMap" type="com.sg.bjftviewprotect.system.entity.User">
        <id property="id" column="id" />
        <collection property="roles" javaType="java.util.List" column="id" fetchType="eager"
                    select="com.sg.bjftviewprotect.system.mapper.UserRoleMapper.selectUserRole">
        </collection>
    </resultMap>

    <sql id="userAllColumn">
        user.id,
            user.name,
            user.account,
            user.password,
            user.is_enable,
            user.is_delete,
            user.remark,
            user.create_time
    </sql>

    <select id="selectAllUser" resultMap="userWithRolesResultMap">
        SELECT
            <include refid="userAllColumn"/>
        FROM t_user user
        <if test="userRequest.roleId != null and !userRequest.roleId.isEmpty()">
            left join t_user_role role on user.id = role.user_id
        </if>
        <where>
            user.is_delete = 0
            <if test="userRequest.id != null and userRequest.id != '' and userRequest.id.length > 0">
                and user.id = #{userRequest.id}
            </if>
            <if test="userRequest.name != null and userRequest.name != '' and userRequest.name.length > 0">
                and user.name like concat('%',#{userRequest.name},'%')
            </if>
            <if test="userChildIds != null and !userChildIds.isEmpty()">
                and user.id in
                <foreach collection="userChildIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
            </if>
            <if test="userRequest.roleId != null and !userRequest.roleId.isEmpty()">
                and role.role_id in
                <foreach collection="userRequest.roleId" item="roleId" open="(" close=")" separator=",">
                    #{roleId}
                </foreach>
            </if>
        </where>
        order BY user.id
    </select>



    <select id="selectUserChildIds" resultType="string">
        WITH RECURSIVE Subordinates AS (
        SELECT
        id,
        name,
        parent_id
        FROM
        t_user
        WHERE
        id = #{userId}
        UNION ALL
        SELECT
        t.id,
        t.name,
        t.parent_id
        FROM
        t_user t
        INNER JOIN
        Subordinates s ON t.parent_id = s.id
        where t.parent_id != t.id
        )
        SELECT
        distinct id
        FROM
        Subordinates;
    </select>


</mapper>
