<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.bjftviewprotect.mapper.RoleMenuMapper">


    <sql id="menuAllColumn">
            menu.id,
            menu.name,
            menu.code,
            menu.is_enable,
            menu.is_delete,
            menu.remark,
            menu.type,
            menu.url
    </sql>

    <select id="selectRoleMenu" resultType="com.sg.bjftviewprotect.entity.Menu">
        select
           <include refid="menuAllColumn"/>
        from t_role_menu rm
                 inner join t_menu menu on ur.menu_id = menu.id and rm.role_id = #{roleId}
    </select>
</mapper>
