<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.bjftviewprotect.mapper.UserRoleMapper">


    <sql id="roleAllColumn">
        role.id,
            role.name,
            role.code,
            role.is_enable,
            role.is_delete,
            role.remark
    </sql>
    <select id="selectUserRole" resultType="com.sg.bjftviewprotect.entity.Role">
        select
            <include refid="roleAllColumn"/>
        from t_user_role ur
        inner join t_role role on ur.role_id = role.id and ur.user_id = #{userId}
    </select>

    <select id="selectRoleChildIds" resultType="string">
        WITH RECURSIVE Subordinates AS (
            SELECT
                id,
                name,
                parent_id
            FROM
                t_role
            WHERE
                id in
            <if test="roleIds != null">
                <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
                    #{roleId}
                </foreach>
            </if>
            UNION ALL
            SELECT
                t.id,
                t.name,
                t.parent_id
            FROM
                t_role t
                    INNER JOIN
                Subordinates s ON t.parent_id = s.id
            where t.parent_id != t.id
        )
        SELECT
            distinct id
        FROM
            Subordinates;
    </select>


</mapper>
